.auth-login-form .mb-3 {
	margin-bottom: 1rem !important
}

.ipfs-image {
  width: 210mm;
  height: 200mm;
}

@media (max-width: 768px) {
  .ipfs-image {
    width: 100%;
    height: auto;
  }
}
.warning-image {
	position: absolute;
	width: 75%;
    height: 80%;
  }
  
  @media (max-width: 768px) {
	.warning-image {
		width: 100%;
    	height: 80%;
		position: absolute;
	}
  }
